<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>Online-Scan</title>

<link rel="stylesheet" type="text/css" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<style type="text/css">
.online{
margin-left:50px;
margin-top:20px;
margin-right:50px;
}
.scan{
font-family: Arial,Helvetica,sans-serif,SimSun;
font-size: 40px;
}
.whois{
    margin-top:10px;
}
.success{
    height: 50px;
    width: 300px;
    text-align: left;
}
.search{
    margin-top: 20px;
}
.whois_result{
    margin-top:20px;
}
.whois_reverse_result
{
    margin-top:20px;
}
.whoisreverse
{
    margin-top:20px;
}
</style>
<body>
<div class="online">
<div class="row">
    <div class="col-md-8 scan">
    Online
    </div>
    {% if success==1 %}
    <div class="col-md-4"><div class="alert alert-success alert-dismissable success" role="alert">
    <button class="close" type="button" data-dismiss="alert" >&times;</button>
    检测完成
    </div>
    {% endif %}
</div>

<div>
     <ul class="nav nav-tabs">
     	<li class={{isactive1}}><a href="/whois">Whois/反查</a></li>
        <li class={{isactive2}}><a href="/md5">Md5查询</a></li>
        <li class={{isactive3}}><a href="/port">端口检测</a></li>
        <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">待开发<span class="caret"></span></a>
        <ul class="dropdown-menu">
        	<li><a href="##"><h5>信息刺探</h5></a></li>
        	<li><a href="##"><h5>后台检测</h5></a></li>
        </ul>
     </li>
	 </ul>
</div>


{% if r==1 %}
<div class="search">
<form action="/whois" method="post">
<input type="text" class="form-control" name="search" placeholder={{data}} /><br/>
<button class="btn btn-primary form-control" name="submit">查询</button>
</div>
</form>
</div>
{% endif %}

{% if r==2 %}
<div class="search">
<form action="/md5" method="post">
<input type="text" class="form-control" name="search" placeholder={{data}} /><br/>
<button class="btn btn-primary form-control" name="submit">查询</button>
</div>
</form>
{% endif %}

{% if r==3 %}
<div class="search">
<form action="/port" method="post">
<input type="text" class="form-control" name="search" placeholder={{data}} /><br/>
<button class="btn btn-primary form-control" name="submit">查询</button>
</div>
</form>
{% endif %}


{% block content %}{% endblock %}

</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 	
</body>
</html>
